.secondiv{
    margin: auto;
    padding: 20vw;
    text-align: left;
    min-width: 100vh;
}

.secondiv>p:nth-child(1){
    margin: 0;
    padding: 0;
    color: #52d3b9;
    font-size: 1.5vw;
}

.secondiv>h1{
    margin: 0;
    padding: 0;
    color: #cbd5f5;
    font-weight: bold;
    font-size: 4vw;
}
.secondiv>h2{
    margin: 0;
    padding: 0;
    color: #8892b0;
    font-size: 3vw;
    font-weight: bold;
}
.secondiv>p:last-child{
    margin: 0;
    padding: 0;
    color:#8892b0;
    font-size: 1.3vw;
    text-align: justify;
    max-width: 35vw;
}

/* About Me */

.aboutdiv{
    background-color: #0a192f;
    width: 100%;
    padding: 8vw;
    margin-top: 6vw;
    text-align: justify;
    display: flex;
    align-items: center;
    gap: 5rem;
    border: 1px solid white;
}

.imagediv{
    border-radius: 50%;
    background-color: #52d3b9;
    opacity: 0.5;
}

  img:hover {
    opacity: 1.0;
  }
  
.secdiv{
    max-width: 70vh;
}
.secdiv>h3{
    color: #cbd5f5;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 2vw;
}
.secdiv>p{
    color: #8892b0;
    font-size: 1.4vw;
}

/* Skills */
.skilldiv{
    margin-top: 15rem;
}

.skilldiv>h3{
    color: #cbd5f5;
    font-size: 4rem;
    font-weight: bold;
    margin: 5rem;
}

.skillindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.icondiv{
    font-size: 10rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    row-gap: 8rem;
    column-gap: 8rem;
}

.textdiv{
    width: 30%;
    color: #8892b0;
    font-size: 1.8rem;
}

.calendardiv>h3{
    color: #cbd5f5;
    font-size: 4rem;
    font-weight: bold;
    margin: 5rem;
}

.calendardiv>div{
    width: 55%;
    margin: auto;
    color: #8892b0;
    font-size: 1.8rem;
}

.calendardiv>div>div>div>div>div:nth-child(2){
    display: inline-block;
}

.mystats>h3{
    color: #cbd5f5;
    font-size: 4rem;
    font-weight: bold;
    margin: 5rem;
}

.mystats>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.projectsdiv{
    margin: 5rem;
}
.projectsdiv>h3{
    color: #cbd5f5;
    font-size: 4rem;
    font-weight: bold;
    margin: 5rem;
}
.projectsdiv>div{
    width: 90rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.projectsdiv>div>img{
    width: 45rem;
    height: 30rem;
}
.projectsdiv>div>div>h4{
    color: #cbd5f5;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}
.projectsdiv>div>div>div>i{
    font-size: 6rem;
}
.projectsdiv>div>div>p{
    color: #8892b0;
    font-size: 1.8rem;
    margin: 1rem 0rem 1rem 0rem;
}
.projectsdiv>div>div>a>button{
    border: 2px solid #8892b0;
    border-radius: 0.5rem;
    color: #8892b0;
    font-size: 1.8rem;
    margin: 1rem;
    padding: 0.4rem;
}

.contactdiv>h3{
    color: #cbd5f5;
    font-size: 4rem;
    font-weight: bold;
    margin: 5rem;
}

.contactdiv>p{
    color: #8892b0;
    font-size: 1.8rem;
    margin: 1rem 0rem 1rem 0rem;
}