.secondiv{
    margin: auto;
    padding: 15vw;
    text-align: left;
    min-width: 100vh;
}

.secondiv>p:nth-child(1){
    margin: 0;
    padding: 0;
    color: #52d3b9;
    font-size: 1.5vw;
}

.secondiv>h1{
    margin: 0;
    padding: 0;
    color: #cbd5f5;
    font-weight: bold;
    font-size: 4vw;
}
.secondiv>h2{
    margin: 0;
    padding: 0;
    color: #8892b0;
    font-size: 3vw;
    font-weight: bold;
}
.secondiv>p:last-child{
    margin: 0;
    padding: 0;
    color:#8892b0;
    font-size: 1.3vw;
    text-align: justify;
    max-width: 35vw;
}

/* About Me */

.aboutdiv{
    background-color: #0a192f;
    width: 100%;
    padding: 8vw;
    margin-top: 6vw;
    text-align: justify;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.imagediv{
    border-radius: 50%;
    background-color: #52d3b9;
    opacity: 0.5;
}

  img:hover {
    opacity: 1.0;
  }
  
.secdiv{
    max-width: 70vh;
}
.secdiv>h3{
    color: #cbd5f5;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 2vw;
}
.secdiv>p{
    color: #8892b0;
    font-size: 1.4vw;
}

/* Skills */
.skilldiv{
    margin-top: 10vw;
}

.skilldiv>h3{
    color: #cbd5f5;
    font-size: 3vw;
    font-weight: bold;
    margin: 4vw;
}

.skillindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}
.icondiv{
    font-size: 4vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    row-gap: 8rem;
    column-gap: 8rem;
}

.tooldiv>h3{
    color: #cbd5f5;
    font-size: 3vw;
    font-weight: bold;
    margin: 4vw;
}

.tooldiv>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

.tooldiv>div>i{
    font-size: 4vw;
}

.textdiv{
    width: 30%;
    color: #8892b0;
}

.textdiv>p{
    font-size: 1.5vw;
}

.calendardiv>h3{
    color: #cbd5f5;
    font-size: 3vw;
    font-weight: bold;
    margin: 4vw;
}

.calendardiv>div{
    width: 55%;
    margin: auto;
    color: #8892b0;
    font-size: 1vw;
}

/* .calendardiv>div>footer>div{
    font-size: 0vw;
} */

/* .calendardiv>div>div>div>div>div:nth-child(2){
    display: inline-block;
} */

.mystats>h3{
    color: #cbd5f5;
    font-size: 3vw;
    font-weight: bold;
    margin: 4vw;
}

.mystatimg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1vw;
}

.mystatimg>img:first-child{
    width: 31vw;
}

.mystatimg>img:last-child{
    width: 28vw;
}


.projectsdiv{
    margin: 4vw;
}
.projectsdiv>h3{
    color: #cbd5f5;
    font-size: 3vw;
    font-weight: bold;
    margin: 4vw;
}
.projectsdiv>div{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.projectsdiv>div>img{
    width: 40vw;
    height: 28vw;
}
.projectsdiv>div>div>h4{
    color: #cbd5f5;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 2vw;
}
.projectsdiv>div>div>div>i{
    font-size: 5vw;
}
.projectsdiv>div>div>p{
    color: #8892b0;
    font-size: 1.6vw;
    margin: 1rem 0rem 1rem 0rem;
}
.projectsdiv>div>div>a>button{
    border: 2px solid #8892b0;
    border-radius: 0.5rem;
    color: #8892b0;
    font-size: 1.6vw;
    margin: 0.8vw;
    padding: 0.3vw;
}



.contactdiv{
    margin-top: 4vw;
}

.contactdiv>h3{
    color: #cbd5f5;
    font-size: 4rem;
    font-weight: bold;
    margin: 5rem;
}

.contactdiv>p{
    color: #8892b0;
    font-size: 1.8rem;
    margin: 1rem 0rem 1rem 0rem;
}

.contactdiv>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.contactdiv>div>a>i{
    font-size: 2vw;
}

@media only screen and (max-width: 580px) {
    .secondiv>p:nth-child(1){
        font-size: 3.4vw;
    }
    
    .secondiv>h1{
        font-size: 6vw;
    }
    .secondiv>h2{
        font-size: 4vw;
    }
    .secondiv>p:last-child{
        font-size: 3.4vw;
    }
    .secdiv>p{
        font-size: 3.4vw;
        display: flex;
    }

    .aboutdiv{
        display: flex;
        flex-direction: column;
    }

    .imagediv{
        width: 150vw;
    }

    .textdiv>p{
        font-size: 3.4vw;
        text-align: justify;
    }

    .projectsdiv{
        font-size: 4vw;
    }

    .contactdiv>div>a>i{
        font-size: 3vw;
    }

    .mystatimg>img:first-child{
        width: 40vw;
    }
    
    .mystatimg>img:last-child{
        width: 36vw;
    }

    .react-activity-calendar__count{
        font-size: 1.6vw;
    }
    
}

@media only screen and (max-width: 760px) {
    .secondiv>p:nth-child(1){
        font-size: 3.4vw;
    }
    
    .secondiv>h1{
        font-size: 6vw;
    }
    .secondiv>h2{
        font-size: 4vw;
    }
    .secondiv>p:last-child{
        font-size: 3.4vw;
    }
    .secdiv>p{
        font-size: 3.4vw;
        display: flex;
    }

    .aboutdiv{
        display: flex;
        flex-direction: column;
    }

    .imagediv{
        width: 150vw;
    }

    .textdiv>p{
        font-size: 3.4vw;
        text-align: justify;
    }

    .projectsdiv{
        font-size: 4vw;
    }

    .contactdiv>div>a>i{
        font-size: 3vw;
    }

    .mystatimg>img:first-child{
        width: 40vw;
    }
    
    .mystatimg>img:last-child{
        width: 36vw;
    }
    
}