.navindiv{
    font-size: 2vw;
    cursor: pointer;
}

/* .toggle_button{
    position: absolute;
    top: 2.4rem;
    right: 5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.bar{
    height: 3px;
    width: 100%;
    background-color: #cbd5f5;
    border-radius: 10px;
} */

@media (max-width: 550px) {

    .navindiv{
        font-size: 3vw;
    }

}